
.DS_Store
MANIFEST.bak
MANIFEST.SKIP
/blib/
/Makefile
/MYMETA.json
/MYMETA.yml
/pm_to_blib
/share/samples/testing/
mojo_prettytidy_cpan_quality_notes.txt
.mojo_prettytidy_cpan_quality_notes.txt
share/samples/parsed.sample_1_stripped.html.ep
share/samples/sample_1_stripped.html.ep
share/samples/debug.html.ep
